<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="block-content pb-4">
        <%= simple_form_for @product do |f| %>
          <div class="form-inputs">

          <%= f.input :name, label: "Nazwa" %>
          <%= f.input :price, append: "groszy", label: "Cena" %>
          <%= f.input :type_id, collection: current_user.party_guest.types, label: "Typ produktu" %>

          <div class="row mx-auto">
            <%= check_box_tag :self_assign %>
            <%= label_tag :self_assign, "Przypisz ten produkt do mnie" %>
          </div>
          <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
