<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="block-content pb-4">

        <%= simple_form_for @product do |f| %>
          <%= f.text_field :name, label: "Nazwa" %>
          <%= f.text_field :price, append: "groszy", label: "Cena" %>
          <%= f.collection_select :type_id, current_user.party_guest.types, :id,
                                  :name, label: "Typ produktu" %>

          <div class="row mx-auto">
            <%= check_box_tag :self_assign %>
            <%= label_tag :self_assign, "Przypisz ten produkt do mnie" %>
          </div>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
